#navbar{
  width: 100%;
}
body{
  margin: 0px;
}
.img-centrar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#001845;
}
#muestra{
  text-align: center;
  color: white;
  text-decoration: none;
  width: 100%;
  padding-bottom: 5px;
  font-size: 25px;
  display: block;
  background-color: #001845;
}
#mostrar{
  display: none;
}
#show{
  margin:5px;
  display:none;
}
li {
  float: left;
  border-right:1px solid #bbb;
  height: 50.8px;
}



  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-top: 0;
    height: 50.8px;
    text-decoration: none;
    
  }

li a:hover:not(.active) {
  background-color: #979DAC;
}

.active {
  background-color: #0466C8;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header{
  background-color:#33415C;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
    .img-centrar{
      height:100px;
      width: 385px;
    }
    #hide{
      display: none;
    }
    #show{
      display: block;
    }
    .pie{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #banco{
      width: 550px;
      height: 69px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
    .img-centrar{
      height: 120px;
      width: 462px;
    }
    #hide{
      display: block;
    }
    #show{
      display: none;
    }
    #mostrar{
      display: none;
    }
    .pie{
      flex-direction: row;
      justify-content: space-evenly;
    }
    #banco{
      width: 600px;
      height: 75px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
    .img-centrar{
      height: 140px;
      width: 539px;
    }
    #hide{
      display: block;
    }
    #show{
      display: none;
    }
    #mostrar{
      display: none;
    }
    .pie{
      flex-direction: row;
      justify-content: space-evenly;
    }
    #banco{
      width: 700px;
      height: 88px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
    .img-centrar{
      height: 160px;
      width: 616px;
    }
    #hide{
      display: block;
    }
    #show{
      display: none;
    }
    #mostrar{
      display: none;
    }
    .pie{
      flex-direction: row;
      justify-content: space-evenly;
    }
    #banco{
      width: 800px;
      height: 100px;
    }
  } 

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
    .img-centrar{
      height: 180px;
      width: 752px;
    }
    #hide{
      display: block;
    }
    #show{
      display: none;
    }
    #mostrar{
      display: none;
    }
    .pie{
      flex-direction: row;
    }
    #banco{
      width: 800px;
      height: 100px;
    }
  }
  footer
  {
    width: 100%;
    color: #ffffff;
    padding: 0;
    margin-bottom: 0;
  }
.pie{
  background-color: #0466C8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.pie >div{
  width: 160px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
}
.copyright{
  background-color: #979DAC;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1px;
}
.contenido{
  padding: 13px;
}
.linkpie{
  color: white;
}
.linkpie:hover{
  color: #001835;
}
/*CArousel*/
/* Slideshow container */
* {box-sizing: border-box}
.mySlides {display: none}*/ 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: static;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.logoplay:hover{
  background-color: #0466C8;
}
.logonintendo:hover{
  background-color: red;
}
.logoxbox:hover{
  background-color: green;
}
.back{
  background-image: url("viejageneracion.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:auto;
  height: auto;
  text-align: center;
  color: yellow;
}
#butt{
  background-color: #0466C8;
  color: white;
  font-size: larger;
  border: none;
  padding: 15px;
}
#suscripcion{
  text-align: center;
  color: white;
}
#cor{
  width: 300px;
  height: 40px;
}
#bot{
  width: 300px;
  height: 40px;
  background-color: #0466C8;
  color: white;
}
#lab{
  font-size: large;
}
#suscripcion{
  margin-left: 50px;
  margin-right: 50px;
  background-image: url("consola.jpg");
}
#log{
  background-color: #0466C8;
  color: white;
  border: none;
  height: 50.8px;
  width: 80px;
  float: right;
}
.container {
  padding: 16px;
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #001845;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}